.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.errores {
  color: red;
}
.navegador {
  display: flex;
  justify-content: center;
  gap: 10rem;
  font-size: 20px;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
}
.listaRecomendaciones {
  display: flex;
  flex-wrap: wrap;
}
.secciones {
  width: 5;
  height: 10;
  background-color: blueviolet;
  margin: 30px;
}
li {
  width: 20;
  height: 10;
}
