@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;1,600&family=Special+Elite&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: "Special Elite", cursive, sans-serif;
  /* background-color: #ececec; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /*   padding-left: 200px;
  padding-right: 200px; */
}

.init {
  font-family: "Special Elite", cursive, sans-serif;
  color: black;
  font-size: 25px;
}
.init:hover {
  color: #96b7c4;
  transform: scale();
  font-size: 35px;
}
.h2HomePage {
  font-size: 20px;
}
.h3HomePage {
  padding: 1rem 0;
  font-size: 23px;
  text-align: center;
}
.errores {
  color: red;
}
.navegador {
  display: flex;
  justify-content: center;
  /* gap: 5rem */
  gap: 0.7rem;
  font-size: 15px;
  font-family: "Special Elite", cursive, sans-serif;
  /* margin-bottom: 5rem;
  margin-top: 5rem; */
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.letraNav:hover {
  color: #96b7c4;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
}
.recommendationsList {
  padding-top: 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* 350 */
  /* gap: 8rem; */
  gap: 2rem;
}

li {
  width: 10;
  height: 10;
  list-style: none;
}

.letraNav {
  color: rgb(0, 0, 0);
}

img {
  max-width: 100%;
}

.imgRecommendation {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 0 -1.5rem;
}

main {
  flex-grow: 1;
  width: 85%;
  margin: 0 auto;
}
#mainCreate {
  max-width: 350px;
  margin: auto;
}

.resumeRecommendation {
  /*  background-color: rgb(184, 184, 184); */
  background-image: url(../src/fotos/claro981.png);
  background-position: center;
  background-size: cover;
  padding: 1.5rem 0;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgb(110, 110, 110);
  height: 100%;
}
.resumeRecommendation > *:not(img) {
  padding: 0 1.5rem;
}
.resumeRecommendation:hover {
  color: rgb(126, 128, 124);
}

.logout {
  /* width: 40px;
  height: 40px; */
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
}
.logo {
  /*   width: 10rem;
  height: 10rem; */
  width: 15%;
  padding-top: 1.5rem;
}
.header {
  /* margin-top: 5rem; */
  width: 65%;
  height: 65%;
}
.userLoged {
  padding-top: 1rem;
}
.navToDetailUser {
  color: black;
  font-size: 20px;
}
.iconoBuscador {
  width: 50px;
  height: 50px;
  margin-top: 2rem;
}
.buscador {
  background-color: transparent !important;
  outline: none;
  border: none;
}

/* De aqui para abajo css formulario */
button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
input,
select,
textarea {
  color: #5a5a5a;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #474544;
  width: 768px;
  margin: 60px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

.titleFormRegister {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 15px;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
  padding-top: 0.8rem;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
  float: right;
  width: 45%;
}

input[type="text"],
[type="email"],
[type="password"],
select,
textarea {
  background: none;
  border: none;
  border-bottom: solid 2px #474544;
  color: #474544;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;

  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input[type="text"]:focus,
[type="email"]:focus,
[type="password"]:focus,
textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}

.message {
  float: none;
}

.name {
  float: left;
  width: 45%;
}
.formLoginPage {
  padding: 2.5rem 1rem;
}

select {
  background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png")
    no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.emailLargo {
  width: 100%;
}

textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
  color: #474544;
}

:-moz-placeholder {
  color: #474544;
  opacity: 1;
}

::-moz-placeholder {
  color: #474544;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #474544;
}

#contact_form {
  padding: 2.5rem 1rem;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #f2f3eb;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    max-width: 95%;
  }
}

@media screen and (max-width: 480px) {
  .titleFormRegister {
    font-size: 26px;
  }

  .underline {
    width: 68px;
  }

  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  .titleFormRegister {
    font-size: 18px;
  }

  .icon {
    height: 35px;
    width: 35px;
  }

  .underline {
    width: 53px;
  }

  input[type="text"],
  [type="email"],
  [type="password"],
  select,
  textarea {
    font-size: 0.875em;
  }
}
.tituloFormLogin {
  margin-top: 2rem;
}
.buttonRegister {
  color: black;
  font-size: 40px;
}
.buttonRegister:hover {
  color: #96b7c4;
}
#container {
  background-color: rgba(228, 199, 140, 0.6);
  border-radius: 1.5rem;
}
#form_button1 {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 10px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#form_button1:hover {
  background: #474544;
  color: #f2f3eb;
}

.contentDetail {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}
.userData {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.imgRedonda {
  margin-top: 20px;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  align-self: center;
}
.formModifyAvatar {
  margin: 0;
}
#image {
  margin-bottom: 26.25px;
}
.userName {
  padding-top: 2rem;
}
.formModifyName {
  margin: 0;
  padding: 30px;
}
.userAboutMe {
  padding-top: 2rem;
}
.formModifyAboutMe {
  margin: 0;
  padding: 30px;
}
h3 {
  text-align: start;
  font-size: 30px;
}
.hiper {
  color: #8a9497;
}

footer {
  padding: 1rem;
  margin-top: 1rem;
  background-color: rgb(0, 0, 0);
  color: white;
}

/* @media (max-width: 600px) {
  .logo {
    width: 40px;
    height: 60px;
  }
  * {
    font-size: 10px;
    margin: 0;
    padding: 0;
  }
} */

.search {
  max-width: 700px;
  margin: auto;
  padding: 2.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
#filter {
  padding: 0.5rem;
}
#order {
  padding: 0.5rem;
}
.noRecom {
  padding-top: 3rem;
}
.detailRecommendation {
  display: grid;
  gap: 3rem;
}
.detailRecommendation2 {
  overflow: auto;
}
.detailRecommendation2 > h2,
.detailRecommendation2 > p,
.detailRecommendation2 > div {
  padding: 0.5rem;
}
.formDetailRecom {
  margin: 0;
  padding: 1rem;
}

/* .detailRecommendation {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 15rem;
  grid-template-rows: 5rem 1fr 25rem 3rem 25rem;
}
.detailRecommendation > h2,
form,
p,
ul {
  grid-column: span 2;
} */

@media (min-width: 450px) {
  .navegador {
    gap: 0.9rem;
    font-size: 19px;
    font-family: "Special Elite", cursive, sans-serif;
    /* margin-bottom: 5rem;
  margin-top: 5rem; */
    margin-bottom: 3.5rem;
    margin-top: 3.5rem;
  }
}

@media (min-width: 600px) {
  #contact_form {
    padding: 2.5rem;
  }
  .recommendationsList {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* 350 */
    gap: 2.2rem;
  }
  .imgRecommendation {
    height: 250px;
  }
  #mainCreate {
    max-width: 500px;
  }
  .navToDetailUser {
    font-size: 25px;
  }
  .navegador {
    /* gap: 5rem */
    gap: 1.5rem;
    font-size: 25px;
    font-family: "Special Elite", cursive, sans-serif;
    /* margin-bottom: 5rem;
  margin-top: 5rem; */
    margin-bottom: 3.5rem;
    margin-top: 3.5rem;
  }
}

@media (min-width: 960px) {
  .recommendationsList {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* 350 */
    gap: 7rem;
  }
  .imgRecommendation {
    height: 300px;
  }
  #mainCreate {
    max-width: 800px;
  }
  .navToDetailUser {
    font-size: 30px;
  }
  .navegador {
    /* gap: 5rem */
    gap: 5rem;
    font-size: 30px;
    font-family: "Special Elite", cursive, sans-serif;
    /* margin-bottom: 5rem;
  margin-top: 5rem; */
    margin-bottom: 5rem;
    margin-top: 5rem;
  }
  .header {
    width: 40%;
    height: 40%;
  }
  .logo {
    width: 10%;
  }
  .icon {
    width: 15%;
    height: 15%;
  }
  #aboutUs {
    padding: 0 200px;
    font-family: "Raleway", sans-serif;
  }
}
#corazon {
  width: 10%;
  height: 10%;
  display: inline-block;
}
#aboutUs {
  font-family: "Raleway", sans-serif;
}
#titleRecom {
  text-transform: uppercase;
}
html {
  background-image: url(../src/fotos/fondolimpio2.png);
  background-repeat: repeat;
}
.divCom {
  overflow: hidden;
}
.buttonpage {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 1rem 0;
}
.pagination {
  padding: 0.5rem;
  font-family: "Special Elite", cursive, sans-serif;
  border-radius: 1rem;
  color: black;
}
.imgDetail {
  border-radius: 1.5rem;
  max-width: 85%;
}
.letra {
  font-family: "Helvetica", Arial, sans-serif;
}
