@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: "Special Elite", cursive;
  background-image: url(/src/fotos/claro981.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.errores {
  color: red;
}
.navegador {
  display: flex;
  justify-content: center;
  gap: 5rem;
  font-size: 35px;
  font-family: "Special Elite", cursive;
  margin-bottom: 3rem;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
}
.listaRecomendaciones {
  display: flex;
  flex-wrap: wrap;
}
.secciones {
  width: 5;
  height: 10;
  background-color: rgb(184, 184, 184);
  margin: 30px;
}
li {
  width: 20;
  height: 10;
  list-style: none;
}
body {
  --def: #96b7c4;
  --inv: #fff;
  background-image: linear-gradient(-25deg, #acacac 0%, #ececec 100%);
}
.letraNav {
  color: rgb(0, 0, 0);
}
.logout {
  width: 20px;
  height: 20px;
}
.header {
  margin-top: 5rem;
}
.logo {
  width: 10rem;
  height: 10rem;
}
.buscador {
  width: 20px;
  height: 20px;
}
